---
import Logo from '../assets/logo.svg';
---
<header class="cabecera">
  <div class="contenedor cabecera__contenido">
    <Logo class="cabecera__logo" />
    <nav class="cabecera__navegacion">
      <a href="/">Inicio</a>
      <a href="/nosotros">Nosotros</a>
      <a href="/servicios">Servicios</a>
      <a href="/contacto">Contacto</a>
    </nav>
  </div>